@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}

.head nav ul {
    display: flex;
    padding: 24px 160px;
    justify-content: space-between;
    align-items: center;
    background: #F5F5F5;
}

.head nav ul li {
    list-style: none;
}

.head nav .ban {
    color: #0E0E0E;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn {
    display: flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 48px;
    border-radius: 8px;
    border: 1px solid #006A50;
    color: #006A50;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btn:hover {
    background: rgb(0, 106, 80);
    color: white;
    border: none;
}

.b1 {
    display: flex;
    padding: 60px 75px;
    justify-content: center;
    align-items: center;
    gap: 64px;
    border-radius: 24px;
    background: #C6E4D6;
    margin-left: 120px;
    margin-right: 120px;
}

.b1-banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.b2-banner {
    width: 474.028px;
    height: 400px;
    flex-shrink: 0;
}

.b1-banner p {
    color: rgba(14, 14, 14, 0.50);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.b1-banner h3 {
    color: #0E0E0E;
    font-family: "Fira Sans";
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 467;
}