@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F1F1F3;
}

.head nav ul {
    display: flex;
    padding: 24px 160px;
    justify-content: space-between;
    align-items: center;
    background: #F5F5F5;
}

.head nav ul li {
    list-style: none;
}

.head nav .ban {
    color: #0E0E0E;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn {
    display: flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 48px;
    border-radius: 8px;
    border: 1px solid #006A50;
    color: #FFFFFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: #006A50;
}

.btn:hover {
    background: white;
    color: #006A50;
    border: none;
}

.b1 {
    display: flex;
    padding: 60px 75px;
    justify-content: center;
    align-items: center;
    gap: 64px;
    border-radius: 24px;
    background: #C6E4D6;
    margin-left: 120px;
    margin-right: 120px;
}

.b1-banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.b1-banner2 {
    width: 474.028px;
    height: 400px;
    flex-shrink: 0;
}

.b1-banner p {
    color: rgba(14, 14, 14, 0.50);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.b1-banner h3 {
    color: #0E0E0E;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 467px;
}

.b2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin-top: 80px;
    gap: 32px;
    margin-left: 120px;
    margin-right: 120px;
}

.b2 h1 {
    color: #0E0E0E;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
}

.box-flex {
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.box-flex .box {
    display: flex;
    width: 302px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #FFF;
}

.box-flex .box .icon {
    width: 64px;
    height: 64px;
}

.box-flex .box h5 {
    color: rgba(14, 14, 14, 0.80);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.box-flex .box p {
    color: rgba(14, 14, 14, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    align-self: stretch;
}

.b3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    margin-top: 80px;
    margin-left: 120px;
    margin-right: 120px;
}

.b3 .top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.b3 h1 {
    color: #0E0E0E;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.b3 .text {
    color: rgba(14, 14, 14, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    align-self: stretch;
}

.b3 .box-flex1 {
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.b3 .icon {
    width: 64px;
    height: 64px;
}

.c {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.t1 {
    color: rgba(14, 14, 14, 0.80);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.v1 {
    width: 410.67px;
    height: 325px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 32px;
}

.v2 {
    width: 410.67px;
    height: 325px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
    padding: 32px;
}

.v3 {
    width: 410.67px;
    height: 325px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
    padding: 32px;
}

.v1 button {
    width: 122px;
    height: 41px;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    margin-top: 24px;
    text-align: center;
}

.v1 button:hover {
    background: white;
    color: rgb(84, 144, 245);
    border: none;
}

.v2 button {
    width: 122px;
    height: 41px;
    border-radius: 8px;
    background: rgb(9, 161, 92);
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    margin-top: 24px;
    text-align: center;
}

.v2 button:hover {
    background: white;
    color: rgb(9, 161, 92);
    border: none;
}

.v3 button {
    width: 122px;
    height: 41px;
    border-radius: 8px;
    background: rgb(255, 194, 57);
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    margin-top: 24px;
    text-align: center;
}

.v3 button:hover {
    background: white;
    color: rgb(255, 194, 57);
    border: none;
}

button:hover {
    opacity: 0.9;
}

.y {
    background-color: white;
    border-radius: 10px;
    padding: 48px 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #FFF;
    margin-top: 20px;
    margin-left: 120px;
    margin-right: 120px;
}

.y-icon {
    font-size: 50px;
    color: #ccc;
    position: absolute;
    top: 15px;
    left: 20px;
    line-height: 0.8;
}

.y1 {
    color: rgba(14, 14, 14, 0.80);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    align-self: stretch;
}

.y2 {
    align-self: stretch;
    color: rgba(14, 14, 14, 0.80);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.y3 {
    align-self: stretch;
    color: rgba(14, 14, 14, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.b5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    margin-top: 80px;
    margin-left: 120px;
    margin-right: 120px;
}

.b5 h2 {
    color: #0E0E0E;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.b5 p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    color: rgba(14, 14, 14, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.news {
    display: flex;
    padding: 48px;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    border-radius: 24px;
    background: #FFF;
}

.details {
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.details h2 {
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 12px;
}

.time {
    margin: 10px 0;
    display: flex;
    gap: 10px;
    color: rgba(14, 14, 14, 0.70);
    ;
}

.b5 button:hover {
    background-color: beige;
}

.b8-op {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-top: 80px;
    margin-left: 120px;
    margin-right: 120px;
}

.b8-title {
    color: #0E0E0E;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.b8-op .ques {
    color: #0E0E0E;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

table {
    border-collapse: collapse;
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border-radius: 16px;
    background: #FFF;
}

td,
th {
    width: 1280px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 0.1);
}

tr .ques {
    padding: 24px;
    width: 950px;
    text-align: justify;
}

tr .ans {
    width: 145px;
    padding: 24px;
    text-align: center;
}

th div {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #c6e4d6;
}

th div h3 {
    color: #0e0e0e;
    font-size: 17px;
    font-weight: 600;
}

.ans select {
    padding: 8px 10px;
    border-radius: 4px;
    border: 1px solid #0e0e0e;
    background: #c6e4d6;
    cursor: pointer;
}

select option {
    color: #0e0e0e;
    font-size: 14px;
    font-weight: 500;
}

.b6-donation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-top: 80px;
    margin-left: 120px;
    margin-right: 120px;
}

.b6-head {
    color: #0E0E0E;
    text-align: center;
    font-family: "Fira Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
}

.b6-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    color: rgba(14, 14, 14, 0.70);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.amount_btn {
    display: flex;
    align-items: center;
    gap: 24px;
}

.amount-btn button {
    padding: 40px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background-color: #fff;
    color: rgba(14, 14, 14, 0.8);
    font-size: 33px;
    font-weight: 700;
    margin: 10px 0 32px 0;
}

button[class="select"] {
    background-color: #c6e4d6;
}

.amount-btn:hover>button {
    background-color: white;
}

.amount-btn button:hover {
    background: #c6e4d6;
    transition: 0.10s;
}

.amount-input input {
    width: 830px;
    padding: 20px 40px;
    color: rgba(14, 14, 14, 0.3);
    font-family: "Fira Sans";
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    margin-bottom: 38px;
}

.amount-input input::placeholder {
    text-align: center;
}

.b7-sub {
    display: flex;
    padding: 80px 100px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 24px;
    background: #C6E4D6;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 120px;
    margin-right: 120px;
}

.b7-sub h1 {
    color: #0E0E0E;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.b7-sub p {
    color: rgba(14, 14, 14, 0.70);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.b7-sub .input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.b7-sub .input input {
    padding: 18px 40px;
    width: 500px;
    border-radius: 8px 0 0 8px;
    background: #fff;
    border: none;
    color: rgba(14, 14, 14, 0.3);
    font-size: 14px;
    font-weight: 400;
}

.b7-sub .input button {
    padding: 17px 40px;
    border-radius: 0 8px 8px 0;
    background: #006a50;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.b7-sub .input button:hover {
    background: #ccc;
    color: #006A50;
    border: none;
}

footer {
    padding: 50px 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

footer h3 {
    color: #0e0e0e;
    font-size: 29px;
    font-weight: 700;
}

footer .social {
    display: flex;
    justify-content: center;
    gap: 23px;
}

footer hr {
    width: 1122px;
    background: rgba(14, 14, 14, 0.1);
    margin: 32px 0;
}